<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/urembo.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">The Green Collections</a>

  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home-url' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home-url' %}">About</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Products
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'add-products-url' %}">Add products</a>
          <a class="dropdown-item" href="{% url 'update-url' %}">Update</a>
          <a class="dropdown-item" href="#">Pay</a>
        </div>
      </li>
      <br>
      <br>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration-url' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login-url' %}">Login</a>
      </li>
      <br>
      <br>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout-url' %}">Logout</a>
      </li>
      <br>
      <br>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shipment-url' %}">Shipment details</a>
      </li>
      <li>
          <a href="#like" class="mx-3">
              <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#user"></use>
              </svg>
              {{ user.email }}
          </a>
      </li>
  </ul>

</nav>
<br>

<div>
    {% block content %}


    {% endblock %}
</div>
<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-4 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="{% url 'home-url' %}">
                            <img src="{% static 'images/main-logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <p>We provide genuine products at the comfort your resting place.</p>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-4">
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Quick Links</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item mb-2">
                            <a href="{% url 'home-url' %}" class="item-anchor">Home</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="{% url 'home-url' %}" class="item-anchor">About</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Help & Info</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item mb-2">
                            <a href="#" class="item-anchor">Shipping + Delivery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">Reach Us</h5>
                    <p>Any suggetion can reach us through <a href="mailto:contact@yourcompany.com"
                                                                    class="item-anchor">thegreensop@gmail.com</a></p>
                    <p>For any inquiry call us through. <a href="tel:+2547693478" class="item-anchor">+2547693478</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="shipping">
                        <span>We ship with:</span>
                        <img src="{% static 'images/arct-icon.png' %}" alt="icon">
                        <img src="{% static 'images/dhl-logo.png' %}" alt="icon">
                    </div>

                </div>
                <div class="col-md-6 text-md-end mt-3 mt-md-0">
                    <p>© Copyright 2023. All rights reserved. <a href="Colloh" target="_blank">TemplatesJungle</a></p>

                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
